@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@200&display=swap');

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-card-content{
  font-family: "Montserrat" !important;
}

.weatherIcon{
  position: relative;
  right: -120px;
}

.app-name{
  font-size: 35px;
  font-family: "Poppins" !important;
  font-weight: 600;
  color: aquamarine;
}

.forecast-main{
  display: flex;
  flex-direction: row;
}

.forecast-card{
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat" !important;
}

.forecast-card-content{
  justify-content: space-between;
  font-family: "Montserrat" !important;
}

.forecast-card-description{
  text-transform: capitalize;
  justify-content: space-between;  
}

/* .forecast-card-title{
 fon
} */
/* .fMain{
  
  margin-right: 5px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  width: 16rem;
} */